/* My style */
$list_to_sort: bob anna sylvain john ludo colin patrick;

@function sort-list($list) {
    $sorted: ();
    @each $item in sort($list) {
        $sorted: append($sorted, $item);
    }
    @return $sorted;
}

$sorted_list: sort-list($list_to_sort);

@debug $sorted_list;
